init.author.name=Tagme
init.author.email=pedro.chaves@tagme.com.br
init.author.url=http://www.tagme.com.br
scope=tagmedev
@tagmedev:registry=https://registry.npmjs.org/
message="build: 🔖 %s"
//registry.npmjs.org/:_authToken=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